DOCKER_MODE = true
TEST_APP_TITLE=test_movies
TEST_PROJECT_HOST=test_movies_fastapi
TEST_PROJECT_PORT=8001

TEST_ES_PORT=9200
TEST_ES_HOST=test_elastic_movies

TEST_REDIS_HOST=test_redis_movies
TEST_REDIS_PORT=6379
TEST_REDIS_PORT_OUT=5379